* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header {
    background-color: #181818;
    padding: 24px 0;
}
header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header nav ul {
    display: flex;
    list-style: none;
    align-items: center;
}
.container {
    max-width: 1168px;
    margin: auto;
}
header nav li {
   margin-left: 32px; 
}
header nav li:first-of-type {
    margin-right: 24px;
}
header nav li:last-of-type {
    margin-left: 31px;
}
header nav li a {
    color: #FFF;
    font-family: Poppins;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    text-decoration: none;
}
header nav li:first-of-type a {
    font-size: 13px;
}
header nav li:last-of-type a {
    border-radius: 14px;
    background: #FFF;
    color: #000;
    font-size: 16px;
    letter-spacing: 0.4px;
    padding: 11px 20px;
}
main section .container {
    max-width: 580px;
    text-align: center;
    margin: inherit;
}
main section div h3{
    text-align: left;
    color: #FFF;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
}
main section div p{
    text-align: left;
}
main section h3 {
    color: #C0C0C0;
    text-align: center;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
}
main section h1 {
    color: #FFF;
    font-family: Poppins;
    text-align: center;
    font-size: 54px;
    font-style: normal;
    font-weight: 400;
    line-height: 59.4px;
}
main section p {
    color: #C0C0C0;
    text-align: center;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}

.main_banner {
    background-image: url("../img/first-sec-background.jpg");
    background-size: cover;
    height: calc(100vh - 83px);
    display: flex;
    align-items: end;
    justify-content: center;
    padding-bottom: 71px;
}
.japan_banner {
    background-image: url("../img/japan-background.jpg");
    background-size: cover;
    min-height: 600px;
    align-items:center;
    display: flex;
    justify-content: right;
}
.japan_banner .container {
    max-width: 300px;
    padding-right: 60px;
}
.costa-rica_banner {
    background-image: url(../img/costa-ro-ca-background.jpg);
    background-size: cover;
    min-height: 600px;
    display: flex;
    justify-content: right;
    align-items:center;

}
.costa-rica_banner .container {
    max-width: 300px;
    padding-right: 60px;
}
.nepal_banner {
    background-image: url(../img/nepal-background.jpg);
    background-size: cover;
    min-height: 600px;
    display: flex;
    justify-content: right;
    align-items:center;

}
.nepal_banner .container {
    max-width: 300px;
    padding-right: 60px;
}
.past-clients {
    background-color:#000 ;
}
.past-clients div {
    padding: 120px 0 100px;
    margin: auto;
}
.past-clients div h2 {
    color: #FFF;
    text-align: center;
    font-family: Poppins;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 42px;
    margin-bottom: 15px;
}
.past-clients div h3 {
    color: #C0C0C0;
    text-align: center;
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 42px;
}
.past-clients div .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 46px;
    max-width: 1168px;
}